@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  text-decoration: none;
}
body {
  background-color: #5b2386;
  font-family: "GmarketSansMedium";
  color: #fff;
  text-align: center;
}

.tit {
  margin-top: 219px;
  position: relative;
  height: 225px;
}
.tit .tit__img-logo {
  width: 529px;
  height: 112px;
  position: absolute;
  top: 63px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
}
.tit::after {
  width: 221px;
  height: 225px;
  content: "";
  background: url(./img/clock.png);
  background-size: contain;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
/* .tit .tit__img-background {
  width: 221px;
  height: 225px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
} */

.sec-word {
  position: relative;
  margin-top: 66px;
  font-size: 18px;
}
.sec-word .word-tit {
  margin-top: 78px;
}
.sec-word .word-tit strong {
  font-weight: 700;
  font-size: 24px;
  vertical-align: middle;
}
.sec-word .word-txt {
  margin-top: 13px;
}

.sec-word::after {
  content: "";
  width: 493px;
  height: 33px;
  background: url(./img/quotes.png) no-repeat;
  background-size: contain;
  position: absolute;
  top: 124px;
  left: 50%;
  transform: translateX(-50%);
}
/* 
.sec-word .word-img {
  position: absolute;
  top: 124px;
  left: 50%;
  transform: translateX(-50%);
} */
.sec-inp {
  margin-top: 92px;
  font-size: 24px;
  position: relative;
}

.sec-inp .inp-expert input,
.sec-inp .inp-time input {
  padding: 11px 10px;
  margin: 27px 17px 0 17px;
  font-size: 24px;
  text-align: center;
  width: 228px;
  box-sizing: border-box;
  color: #babcbe;
  border-radius: 7px;
}
.sec-inp .inp-btn {
  margin-top: 115px;
  padding: 21px 49px;
  border-radius: 56px;
  font-size: 24px;
  font-family: "GmarketSansBold";
  background-color: #fcee21;
  color: #5b2386;
}
.sec-inp:after {
  width: 64px;
  height: 72px;
  background: url(./img/click.png);
  background-size: contain;
  content: "";
  position: absolute;
  top: 313px;
}
/* .sec-inp .inp-img {
  position: absolute;
  top: 313px;
} */

.sec-result {
  margin-top: 192px;
  font-size: 24px;
}
.result-expert {
  margin-bottom: 17px;
}
.result-time {
  margin-bottom: 148px;
}
.sec-result .result-expert strong,
.sec-result .result-time strong {
  font-family: "GmarketSansBold";
  vertical-align: middle;
  font-size: 72px;
  margin: 12px;
}

.sec-result .result-btn {
  font-family: "GmarketSansBold";
  padding: 21px 49px;
  margin: 0 9px;
  color: #5b2386;
  border-radius: 56px;
}
.sec-result .result-training {
  background-color: #fcee21;
}
.sec-result .result-share {
  background-color: #fff;
}
.hide-result {
  display: none;
}

.footer {
  margin-top: 130px;
  margin-bottom: 108px;
}
.footer .footer-logo {
  width: 125px;
  height: 25px;
  margin-bottom: 20px;
}
.footer .footer-txt {
  font-size: 12px;
  margin-bottom: 8px;
}

@media screen and (max-width: 360px) {
  .tit {
    margin-top: 30px;
    height: 106px;
  }
  .tit .tit__img-logo {
    width: 250px;
    height: 53px;
    top: 28px;
  }
  .tit::after {
    width: 106px;
    height: 106px;
    background-size: contain;
  }

  .sec-word {
    margin-top: 30px;
    font-size: 16px;
  }
  .sec-word .word-phrase {
    width: 297px;
    height: 18px;
  }
  .sec-word .word-tit {
    margin-top: 40px;
  }
  .sec-word .word-tit strong {
    font-size: 14px;
  }
  .sec-word .word-tit,
  .sec-word .word-txt {
    font-size: 13px;
  }
  .sec-word::after {
    width: 302px;
    height: 48px;
    background-size: contain;
    top: 100px;
  }

  .sec-inp {
    margin-top: 43px;
    font-size: 14px;
  }
  .sec-inp .inp-expert input,
  .sec-inp .inp-time input {
    padding: 12px 35px;
    margin: 19px 4px 0 4px;
    font-size: 14px;
    width: 156px;
  }
  .sec-inp .inp-time .inp-line_break {
    display: block;
    margin-top: 19px;
  }
  .sec-inp .inp-btn {
    margin-top: 49px;
    padding: 17px 36px;
    border-radius: 13px;
    width: 240px;
    font-size: 14px;
  }
  .sec-inp:after {
    width: 43px;
    height: 48px;
    background-size: contain;
    top: 238px;
  }

  .sec-result {
    margin-top: 64px;
    font-size: 14px;
  }
  .result-expert {
    margin-bottom: 15px;
  }
  .result-time {
    margin-bottom: 68px;
  }
  .sec-result .result-expert strong,
  .sec-result .result-time strong {
    font-size: 24px;
    margin: 8px;
  }
  .sec-result .result-btn {
    padding: 12px 17px;
    margin: 0 5px;
    border-radius: 56px;
  }

  .footer {
    margin-top: 83px;
  }
  .footer .footer-logo {
    width: 91px;
    height: 18px;
    margin-bottom: 17px;
  }
  .footer .footer-txt {
    font-size: 9px;
    margin-bottom: 8px;
  }
}
